@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.movie-card {
  color: black;
  padding: 40px 0;
  height: 1600px;
}

.container {
  margin: 0 auto;
  width: 780px;
  height: 640px;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  position: relative;
}

.hero {
  height: 342px;  
  margin:0;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
    
}


.title {
	color: white;
	margin-top: 50px;
	margin-left: 285px;
	width: 100px;
	display: inline;
}

.hero:before {
  content:'';
  width:100%; height:100%;
  position:absolute;
  overflow: hidden;
  top:0; left:0;
  background-image:url('../img/owl.png');
  z-index:-1;
 
  transform: skewY(-2.2deg);
  transform-origin:0 0;
  
  
}

.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
}

.description {
  margin-bottom: 70px;
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
  
}

span.rating {
	font-size: 20px;
	color: #ffd700;
}

span.pg {
	background: #C4AF3D;
    border-radius: 5px;
    color: #544C21;
    font-size: 14px;
    padding: 0px 4px;
    margin-left: 285px;
}

span.gen {
	background: #C4AF3D;
    border-radius: 5px;
    color: #544C21;
    font-size: 14px;
    padding: 0px 4px;
    margin-left: 10px;
}

p.info {
	font-size: 15px;
	color: #B1B0AC;
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
}

.column2 {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 220px;
  width: 1100px;
  float: left;
  display: contents;
}

p {
	float: right;
}

p.aud {
	float: left;
	margin-top: 5px;
	margin-left: 15px;
	color: #667788;
}

p.synop {
	margin-top: 50px;
}

.form {
	display: inline-block;
	width: 1000px;
	height: auto;
	background-color: rgba(36, 36, 36, 0.5);
	border-radius: 10px;
	padding: 30px;
	margin-left: 150px;
}

.input_box {
	display: flex;
	margin-bottom: 30px;
}

ul.comment {
	color: white;
}

li.comment {
	margin-bottom: 20px;
}

span.comment {
	background: #C4AF3D;
    border-radius: 5px;
    color: #544C21;
    font-size: 14px;
    padding: 0px 8px;
}
